@import '../../styles/_mixins.scss';

.home_container {
  @include page-container;

  > .home_content {
    @include flexbox(column, start, start);
    padding: 0 24px;
    width: 100%;
    max-width: 480px;

    > .top_content {
      @include flexbox(column, center, start);
      width: 100%;
      height: calc(100vh - var(--header-height) - var(--space));
      padding-bottom: var(--header-height);

      > code {
        margin: 0;
        font-size: 1rem;
        color: var(--text-color);
      }
    }
  }
}
