@import '../../styles/_mixins.scss';

.header {
  z-index: 1000;
  @include flexbox(row, space-between, center);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  cursor: default;
  background-color: var(--background-color);
  // border-bottom: 1px solid var(--border-color);

  > div {
    @include flexbox(row, center, center);
    height: 100%;
    min-width: 60px;
    color: var(--text-color);

    // title
    &.title {
      @include flexbox(row, center, center);
      padding: 0 24px;
      white-space: nowrap;
      cursor: pointer;

      > h1 {
        margin: 0;
        font-size: 1.5rem;
      }
    }

    &.center_navigation {
      min-width: 0px;
    }

    // navigation
    > a {
      @include flexbox(row, center, center);
      width: 60px;
      height: 100%;
      font-size: 1rem;
      @include float-label;

      &:global(.active) {
        // border-bottom: 3px solid var(--link-hover-color);

        > svg {
          &:global(.back) {
            position: absolute;
            margin-top: 2px;
            font-size: 0.9rem;

            > path {
              fill: var(--text-always-white);
            }
          }
          > path {
            fill: var(--link-hover-color);
          }
        }
      }

      > svg {
        font-size: 1.2rem;
      }
    }

    &.right_action {
      > :global(.actions-container) {
        @include flexbox(row, center, center);
        position: relative;
        height: 100%;

        &:global(.active) {
          > button {
            border: 1px solid var(--border-color);
            background-color: var(--background-secondary-color);
          }
          transform: translateX(-12px) translateY(12px);
          -webkit-transform: translateX(-12px) translateY(12px);
          -moz-transform: translateX(-12px) translateY(12px);
          -ms-transform: translateX(-12px) translateY(12px);
          -o-transform: translateX(-12px) translateY(12px);
        }

        // setting button (toggle actions block)
        > button {
          height: 100%;
          width: 60px;
          font-size: 1.2rem;
          background-color: var(--background-color);
          color: var(--text-color);
          border: none;
          border: 0px solid var(--background-color);
          @include float-label;
          cursor: pointer;
          border-radius: 24px 24px 0 0;
          -webkit-border-radius: 24px 24px 0 0;
          -moz-border-radius: 24px 24px 0 0;
          -ms-border-radius: 24px 24px 0 0;
          -o-border-radius: 24px 24px 0 0;
        }

        // actions block
        > :global(.actions) {
          @include flexbox(column, center, center);
          position: absolute;
          width: 60px;
          top: calc(var(--header-height) / 2);
          opacity: 0;
          background-color: var(--background-secondary-color);
          border: 1px solid var(--background-color);
          border-top: none;
          pointer-events: none;
          user-select: none;

          &:global(.active) {
            opacity: 1;
            border: 1px solid var(--border-color);
            border-top: none;
            pointer-events: auto;
            user-select: auto;
            top: calc(var(--header-height) - 1px);

            > button {
              height: 60px;
            }
          }

          > button {
            height: 30px;
            width: 60px;
            font-size: 1.2rem;
            background-color: #00000000;
            color: var(--text-color);
            border: none;
            cursor: pointer;

            @include float-label;
          }
          border-radius: 0 0 24px 24px;
          -webkit-border-radius: 0 0 24px 24px;
          -moz-border-radius: 0 0 24px 24px;
          -ms-border-radius: 0 0 24px 24px;
          -o-border-radius: 0 0 24px 24px;
        }
      }
    }
  }
}
