@import '../../styles/_mixins.scss';

.schedule {
  @include page-container;
  overflow: hidden !important;

  > .loading {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
  }
  > .error {
    z-index: 1000;
    position: fixed;
    bottom: var(--space-8x);
    left: 50%;
    padding: var(--space) var(--space-1-5x);
    border: 1px solid var(--border-color);
    background-color: var(--background-color);
    @include border-radius(var(--border-radius-l));
    @include transform-container(translateX(-50%));
  }

  > .toolbar {
    height: 96px;
    width: 100%;
    padding: var(--space-1-5x) var(--space-1-5x) var(--space-3x)
      var(--space-1-5x);

    > .addButton {
      background-color: var(--text-color);
      color: var(--text-color-reverse);
    }
  }
}
