@import '../../styles/mixins';

.newYearCountdown {
  @include flexbox(row, center, center);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9000;
  user-select: none;
  pointer-events: none;
}

.countdownNumber {
  font-size: 120px;
}
